body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.card {
  margin-top: 20px;
  padding: 20px;
  background: white;
  display: inline-block;
  border-radius: 10px;
}

.hidden {
  display: none;
}

img {
  width: 200px;
}

#status {
  margin-top: 20px;
  font-weight: bold;
}